$primary-color: #005E83;
$secondary-color: #00C898;
$secondary-color-light: #e6fcf6;
$secondary-color-lighter: #EFF6F8;
$light-gray: #D8D8D8;
$dark-gray: #444444;
$black: #000000;
$white: #FFFFFF;
$primary-border-radius: 40px;
$transition-duration: 0.2s;