$primary-color: #005e83;
$secondary-color: #00c898;
$secondary-color-light: #e6fcf6;
$secondary-color-lighter: #eff6f8;
$light-gray: #d8d8d8;
$dark-gray: #444444;
$black: #000000;
$white: #ffffff;
$primary-border-radius: 40px;
$transition-duration: 0.2s;
