@use '../styles/variables';

.search-bar {
  display: flex;
  padding: 20px;
  border: 2.5px solid variables.$secondary-color-light ;
  border-radius: variables.$primary-border-radius;
  width: 100%;
  gap: 20px;

  box-shadow: 0 5px 10px variables.$secondary-color-light; // Optional: Highlight with a shadow
}