
.App {
  padding: 60px 0;
  height: 100vh;
  width: 100vw;
}

.table {
  width: 100%;
}

.grid-parent {
  display: grid;
  gap: 2rem;
  grid-template-columns:
    repeat(5, 1fr);
  grid-template-rows:
    repeat(5, 150px);
}


.grid-child:nth-child(5n) {
  grid-column: span 2; /* spans 2 columns */
  grid-row: span 2; /* spans 2 rows */

}

.grid-child:nth-child(4n) {
  grid-column: span 1; /* spans 2 columns */
  grid-row: span 2; /* spans 2 rows */

}

.grid-child:nth-child(3n) {
  grid-column: span 2; /* spans 2 columns */
  grid-row: span 2; /* spans 2 rows */

}

.grid-child:nth-child(6n) {
  grid-column: span 2; /* spans 2 columns */
  grid-row: span 1; /* spans 2 rows */

}

