@use '../../styles/variables' as *;

.button {
  border-radius: $primary-border-radius;
  background-color: $primary-color;
  color: $white;
  padding: 10px 20px;
  transition: all $transition-duration;

  &:hover {
    background-color: $secondary-color;
  }

  &:active {
    transform: scale(1.1);
  }
}
