figure {
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  height: 100%;
  box-shadow:
    0 1px 6px 0 rgba(0, 0, 0, 0.2),
    0 16px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  border-radius: 10px 10px 0 0;
  height: 100%;
  object-fit: cover;
}

figcaption {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.description {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
