.spinner {
  stroke: darkgray;
  stroke-width: 4;
  transform-origin: center;
}

.circle {
  fill: lightblue;
}

.rect {
  fill: white;
  fill-opacity: 0.5;
  animation: rotation 2s infinite alternate-reverse;
}

.hex {
  fill: lightgreen;
  animation: rotation 2s infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
